.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    input{
        border-radius: 12px;
        color: white;
        height:2.5rem;
        width:20rem;
        padding: 0px 12px;
        background-color: var(--primary-color);
        border: 1px solid rgba(40, 47, 77,0.5);
    }
}

