.Calender{


}
.css-i7y1zb-MuiStack-root{
    padding-top: 0px !important;
    transform: scale(0.9);
    height:18rem;
}


.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel {
        // background-color: var(--primary-bright);
        color: var(--primary-bright) !important;
}

.css-156tkzh-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
    background-color: var(--tertiary-color-strong) !important;
}