.Profiles{
    height:200px;
    width: auto;
    padding: 12px;
    border-radius: 10px;
    margin: 12px;
    background-color:var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:var(--primary-bright);
    &:hover{
        transition: all 0.3s linear;
        box-shadow: 5px 5px 10px grey;
    }
    .image{
        img{
            border-radius: 100%;
        }
    }
    .desc{
        h2{
            font-size: 20px;
            align-self: center;
            font-family: 'Poiret One', cursive;
        }
        p{
            margin:0px;
            opacity: 0.5;
        }
    }

}