*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.App{
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}

//dark mode

// :root{
//   --primary-color:rgb(19, 19, 26);
//   --secondary-color:black;
//   --tertiary-color:rgb(49, 185, 190);
//   --primary-bright:white;
// }


// bright mode

:root{
    --primary-color:white;
    --secondary-color:rgb(131, 138, 151);
    --tertiary-color:rgba(119, 224, 189, 0.534);
    --tertiary-color-strong:rgba(119, 224, 189, 1);
    --primary-bright:black;
  }