*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{

  overflow:hidden;
}


// dark mode

// :root{
// --primary-color:rgb(19, 19, 26);
// --secondary-color:black;
// --tertiary-color:rgb(49, 185, 190);
// --tertiary-color-strong:rgba(49,185,190,0.8);
// --primary-bright:white;
// }


// bright mode

:root{
    --primary-color:white;
    --secondary-color:rgb(131, 138, 151);
    --tertiary-color:rgba(119, 224, 189, 0.533);
    --tertiary-color-strong:rgba(119, 224, 189,1);
    --primary-bright:black;
    --demo:#77e0bd;
}